<!-- Grundaufbau und Basic-Funktionen 1zu1 übernommen aus Beispiel aus Unterricht: https://github.com/miguelgrinberg/microblog
Vieles Eigentwicklung mit erlernntem Wissen zu HTML aus der Lehre, leichten Anwendung im Betrieb und im Module DBWE-->

{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h1>Todo bearbeiten</h1>
    <form action="" method="post" class="form-horizontal">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.title.id }}" class="col-sm-2 control-label">{{ form.title.label }}</label>
            <div class="col-sm-10">
                {{ form.title(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.description.id }}" class="col-sm-2 control-label">{{ form.description.label }}</label>
            <div class="col-sm-10">
                {{ form.description(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.priority.id }}" class="col-sm-2 control-label">{{ form.priority.label }}</label>
            <div class="col-sm-10">
                {{ form.priority(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.department.id }}" class="col-sm-2 control-label">{{ form.department.label }}</label>
            <div class="col-sm-10">
                {{ form.department(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.due_date.id }}" class="col-sm-2 control-label">{{ form.due_date.label }}</label>
            <div class="col-sm-10">
                {{ form.due_date(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
