<!-- Grundaufbau und Basic-Funktionen 1zu1 übernommen aus Beispiel aus Unterricht: https://github.com/miguelgrinberg/microblog
Vieles Eigentwicklung mit erlernntem Wissen zu HTML aus der Lehre, leichten Anwendung im Betrieb und im Module DBWE-->


{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h2>Offene Todos</h2>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><a href="{{ url_for('home', sort='title') }}">Titel</a></th>
                    <th><a href="{{ url_for('home', sort='priority') }}">Priorit&auml;t</a></th>
                    <th><a href="{{ url_for('home', sort='department') }}">Abteilung</a></th>
                    <th><a href="{{ url_for('home', sort='due_date') }}">Deadline</a></th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                {% if not todo.completed_at %}
                <tr>
                    <td>
                        <a href="{{ url_for('todo', todo_id=todo.id) }}">{{ todo.title }}</a>
                    </td>
                    <td>
                        <span class="label label-default priority-{{ todo.priority }}">
                            {{ todo.priority }}
                        </span>
                    </td>
                    <td>
                        <span class="label label-default department-{{ todo.department }}">
                            {{ todo.department }}
                        </span>
                    </td>
                    <td>
                        <span class="label label-default due_date-{{ todo.due_date }}">
                            {{ todo.due_date }}
                        </span>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>Erledigte Todos</h2>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><a href="{{ url_for('home', sort='title') }}">Titel</a></th>
                    <th><a href="{{ url_for('home', sort='priority') }}">Priorit&auml;t</a></th>
                    <th><a href="{{ url_for('home', sort='department') }}">Abteilung</a></th>
                    <th><a href="{{ url_for('home', sort='completed_at') }}">Abgeschlossen am</a></th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                {% if todo.completed_at %}
                <tr>
                    <td>
                        <a href="{{ url_for('todo', todo_id=todo.id) }}">{{ todo.title }}</a>
                    </td>
                    <td>
                        <span class="label label-default priority-{{ todo.priority }}">
                            {{ todo.priority }}
                        </span>
                    </td>
                    <td>
                        <span class="label label-default department-{{ todo.department }}">
                            {{ todo.department }}
                        </span>
                    </td>
                    <td>
                        <span class="label label-default completed_at-{{ todo.completed_at }}">
                            {{ todo.completed_at }}
                        </span>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
