<!-- Grundaufbau und Basic-Funktionen 1zu1 übernommen aus Beispiel aus Unterricht: https://github.com/miguelgrinberg/microblog
Vieles Eigentwicklung mit erlernntem Wissen zu HTML aus der Lehre, leichten Anwendung im Betrieb und im Module DBWE-->


{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="text-center">
        <img src="{{ url_for('static', filename='Img/ToDoHive.png') }}" alt="ToDo Hive Logo">
        <h1>Willkommen auf ToDo Hive</h1>
    </div>
        <h1>Login</h1>
        <form action="" method="post" class="form-horizontal">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="{{ form.username.id }}" class="col-sm-2 control-label">{{ form.username.label }}</label>
                <div class="col-sm-10">
                    {{ form.username(class="form-control", placeholder="Username") }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id }}" class="col-sm-2 control-label">{{ form.password.label }}</label>
                <div class="col-sm-10">
                    {{ form.password(class="form-control", placeholder="Password") }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
        <p>Neuer Benutzer? <a href="{{ url_for('register') }}">Hier registrieren</a></p>
    </div>
{% endblock %}
