<!-- Grundaufbau und Basic-Funktionen 1zu1 übernommen aus Beispiel aus Unterricht: https://github.com/miguelgrinberg/microblog
Vieles Eigentwicklung mit erlernntem Wissen zu HTML aus der Lehre, leichten Anwendung im Betrieb und im Module DBWE-->

{% extends "base.html" %}

{% block app_content %}
<h1>Profil</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <h3>Pers&ouml;nliche Informationen</h3>
        <ul>
            <li>Benutzername: {{ current_user.username }}</li>
            <li>Email-Adresse: {{ current_user.email }}</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h3>Aktuelle Aufgaben</h3>
        {% if my_open_todos %}
        <ul>
            {% for todo in my_open_todos %}
            <a href="{{ url_for('todo', todo_id=todo.id) }}" class="list-group-item list-group-item-action">
                <h5 class="list-group-item-heading">{{ todo.title }}</h5>
                <p class="list-group-item-text">
                    <span class="label label-default description-{{ todo.description }}">Beschreibung:{{ todo.description }}</span>
                    <span class="label label-default priority-{{ todo.priority }}">Priorit&auml;t:{{ todo.priority }}</span>
                    <span class="label label-default department-{{ todo.department }}">Abteilung:{{ todo.department }}</span>
                    <span class="label label-default status-{{ todo.status }}">Status: {{ todo.status }}</span>
                    <span class="label label-default status-{{ todo.due_date }}">Status: {{ todo.due_date }}</span>
                </p>
            </a>
            {% endfor %}
        </ul>
        {% else %}
            <li>Keine offenen Aufgaben gefunden.</li>
        {% endif %}
    </div>
</div>
{% endblock %}
