<!-- Grundaufbau und Basic-Funktionen 1zu1 übernommen aus Beispiel aus Unterricht: https://github.com/miguelgrinberg/microblog
Vieles Eigentwicklung mit erlernntem Wissen zu HTML aus der Lehre, leichten Anwendung im Betrieb und im Module DBWE-->


{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h1>{{ todo.title }}</h1>
    <p>Beschreibung: <span class="label label-default description-{{ todo.description }}">{{ todo.description }}</span></p>
    <p>Priorit&auml;t: <span class="label label-default priority-{{ todo.priority }}">{{ todo.priority }}</span></p>
    <p>Abteilung <span class="label label-default department-{{ todo.department }}">{{ todo.department }}</span></p>
    <p>Status: <span class="label label-default status-{{ todo.status.lower() }}">{{ todo.status }}</span></p>
    <p>Deadline: <span class="label label-default deadline-{{ todo.due_date }}">{{ todo.due_date }}</span></p>
    <p>Erstellt von: {{ todo.author.username }}</p>
    <h2>Kommentare</h2>
    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item">{{ comment.body }} - {{ comment.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</li>
        {% endfor %}
    </ul>
    <h3>Kommentar hinzuf&uuml;gen</h3>
    <form action="" method="post" class="form-horizontal">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.body.id }}" class="col-sm-2 control-label">{{ form.body.label }}</label>
            <div class="col-sm-10">
                {{ form.body(class="form-control", rows=3) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
    <div class="btn-group">
        {% if not todo.completed_at %}
        <a href="{{ url_for('complete_todo', todo_id=todo.id) }}" class="btn btn-success">ToDo abschliessen</a>
        <a href="{{ url_for('track_todo', todo_id=todo.id) }}" class="btn btn-default">ToDo &uuml;berwachen</a>
        {% endif %}
        {% if todo.completed_at %}
        <a href="{{ url_for('reopen_todo', todo_id=todo.id) }}" class="btn btn-default">ToDo wiederer&ouml;ffnen</a>
        {% endif %}
        {% if current_user.id == todo.author.id %}
        <a href="{{ url_for('edit_todo', todo_id=todo.id) }}" class="btn btn-warning">ToDo bearbeiten</a>
        <form method="post" action="{{ url_for('delete_todo', todo_id=todo.id) }}" class="delete-todo-form">
        <button type="submit" class="btn btn-danger" onclick="return confirm('M&ouml;chten Sie diesen Todo-Eintrag wirklich l&ouml;schen?');">L&ouml;schen</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
