<!-- Grundaufbau und Basic-Funktionen 1zu1 übernommen aus Beispiel aus Unterricht: https://github.com/miguelgrinberg/microblog
Vieles Eigentwicklung mit erlernntem Wissen zu HTML aus der Lehre, leichten Anwendung im Betrieb und im Module DBWE-->

{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h1>&Uuml;berwachte Todos</h1>
    <div class="list-group">
        {% for todo in todos %}
        {% if not todo.completed_at %}
        <a href="{{ url_for('todo', todo_id=todo.id) }}" class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">{{ todo.title }}</h5>
            <p class="list-group-item-text">
                <span class="label label-default description-{{ todo.description}}">Beschreibung:{{ todo.description }}</span>
                <span class="label label-default priority-{{ todo.priority }}">Priorit&auml;t:{{ todo.priority }}</span>
                <span class="label label-default department-{{ todo.department }}">Abteilung:{{ todo.department }}</span>
                <span class="label label-default status-{{ todo.status }}">Status: {{ todo.status }}</span>
            </p>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
